@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 600;
    font-weight: 100;
}

textarea {
    background-color: #000;
    border: 1px solid #000;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.all .text{
    color: white;
}
.all .text h4{
    margin: 10px;
}
.all .app{
    width: 92%;
    height: 70%;
    background: rgb(85, 86, 145);
    padding: 1em;
    border: black 2px solid;
    display: flex;
}
.all .app .form-search{
    width: 40%;
    height: 92%;
    padding-top: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.all .app .form-search h2{
    color: white;
    margin-bottom: 1em;
}
.all .app .form-search #textLex{
    width: 95%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    margin-right: 0.5em;
}
.all .app .form-search button{
    margin-top: 1em;
    height: 35px;
    outline: none;
    font-weight: 100;
    color: white;
    width: 20%;
    border-radius:5px;
    background: rgb(131, 132, 187);
    border: 0.3px solid black;
}
.all .app .form-search button:hover{
    background: rgb(85, 86, 145);
    transition: .5s;
}
.all .app .results{
    width: 60%;
    height: 92%;
    padding-top: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.all .app .results h2{
    color: white;
    margin-bottom: 1em;
}
.all .app .results #textResults{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 1em;
}

